.env
.env.*
!.env.example
.git
.github
vendor
node_modules
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
storage/app/public
storage/backups
public/storage
database/database.sqlite
*.sql
tests
docker-compose.yml
README.md
